/* #Background{
  position: absolute;
  background-size: cover;
  z-index: -1000;
} */

#LimitBreak{
  position:absolute
  z-index: 1000;
  background-color: orange;
  
}

#LimitBreakStats{
  background-color: red;
  float: right;
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
}

#LimitBreakInfo{
  box-sizing: border-box;
  background-color: blue;
  float: inherit;
  position: relative;
  margin-left: 20px;
  margin-bottom: 10;
}

/* #log{
  position:absolute
  z-index: 1000;
  background-color: green;
} */
